**/*

!go.mod
!go.sum
!pkg/**/*
!cmd/**/*
!docs/**/*
!internal/**/*


# UI files
!external/ui/package.json
!external/ui/src/**/*
!external/ui/public/**/*
!external/ui/index.html
!external/ui/vite.config.js
!external/ui/tsconfig.json
!external/ui/jsconfig.js

## Pre built UI files, mostly for dev- images
!external/ui/dist/**/*
